/*
Tauno Erik
22.10.2025

Clip Path kujundid:
https://bennettfeely.com/clippy/

Grid:
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* Muutujad */
:root{
    --light-color: #faf0ca;
    --dark-color: #0d3b66;
    --yellow-color: #f4d35e;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3 {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.container {
    width: 100%;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.page-menu {
    justify-self: end;
}

.logo-span {
    display: inline-block;
    margin: 25px;
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--dark-color);
    border-radius: 10px;
    background-color: var(--yellow-color);
    margin: 25px;
}

.line {
    width: 75%;
    height: 6px;
    background-color: var(--dark-color);
    border-radius: 3px;
    margin: 5px 0;
}

.profile {
    text-align: center;
}

.profile-image img{
    display: inline-block;
    margin-top: 25px;
    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

hr {
    width: 200px;
    height: 10px;
    background-color: var(--yellow-color);
    border: 0;
    border-radius: 4px;
    margin-top: 40px;
}

.myworks {
    margin-top: 60px;
}

.headline {
    text-align: center;
}

.headline h1, h2, h3 {
    margin-top: 0;
}

.frame {
    width: 100%;
    text-align: center;
}

.frame img {
    width: 80%;
    min-width: 300px;
    border-radius: 5px;
}

.section-myclients {
    margin-top: 60px;
}

.my-clients {
    width: 100%;
}

.client-card {
    width: 100%;
}

.client-card-txt {
   width: 80%;
    margin: 0 auto; 
}

.client-card-txt h3 {
    margin-top: 20px;
}

span {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 12px;
    background-color: var(--yellow-color);
}

.contact {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact button {
    border: 1px solid var(--dark-color);
    border-radius: 27px;
    text-transform: uppercase;
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 17px;
    padding: 15px 50px;
    color: var(--dark-color);
    background-color: var(--yellow-color);
}

.sots-media {
    width: 100%;
}

.sots-media-icons {
    width: 100%;
    text-align: center;
}

.sots-media-icons ul {
    list-style: none;
    padding: 0;
}

.sots-media-icons ul li{
    display: inline-block;
}

.sots-media-icons ul li img{
    height: 40px;
    margin: 10px;
}

footer {
    text-align: center;
}